.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: darkblue;
}
li{
    list-style-type: none;

    display: inline;
}
.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color:crimson;
}
#box1{
     height: 100px;
    width: 100px;
    background-color: darkgreen;
    border:2px solid black;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
    transition-delay: 1s;
    transform: rotate(45 deg); 
    transform: scale(1);
}
div:hover{
    background-color: darkred;
}
div:active{
    background-color: deeppink;
}
@media (width:600px) {
    div{
        background-color: cornsilk;
    }

}